.add-requirment {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border: 1px solid rgb(0, 255, 213);
    border-radius: 8px;
}

.add-requirment label {
    font-size: 17px;
    font-weight: 900;
}

.add-requirment input {
    height: 20px;
    font-size: 19px;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px rgb(0, 255, 255);
}